* { margin: 0; padding: 0; vertical-align: top; }
li { list-style: none; }
a { text-decoration: none; }
body {  
    font-family: "Pretendard Variable", Pretendard, sans-serif; 
    max-width: 1920px; min-width: 320px; margin: 0 auto;
}
img { border: 0; max-width: 100%; }